<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div data-grid="center spacing">
      <div data-cell="1of2">
        <p><strong>Compartilhe</strong></p>
        <ul>
          <li>Redes sociais</li>
        </ul>
      </div>
      
      <div data-cell="1of2">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>



<script src="{{ '/js/scroll.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>