{%- capture className -%}
{%- if page.url == '/' -%}is-home
{%- else -%}is-default
{%- endif -%}
{%- endcapture -%}

<header class="site-header {{className}}" id="topo">

  <div class="site-header__wrapper">

    <div class="site-header__logo">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/img/logo.svg" width="230" alt="{{ site.title }}">
      </a>
    </div>

    {%- if page.links -%}
    <nav class="site-nav">
      <a href="#menu" class="site-nav__menu-button">
        <svg viewBox="0 0 30 30" width="30px" height="30px">
          <rect x="0" y="0" width="30" height="6" />
          <rect x="0" y="12" width="30" height="6" />
          <rect x="0" y="24" width="30" height="6" />
        </svg>
      </a>

      <div class="site-nav__trigger" data-grid="center around">
        {%- for link in page.links -%}
        <a class="site-nav__link" href="{{link.url}}">{{link.title}}</a>
        {%- endfor -%}
      </div>
    </nav>
    {%- endif -%}
  </div>

</header>