
.site-header
    min-height: 56px
    background-color: #fff
    color: $grey-color
    // Positioning context for the mobile navigation icon
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 9

    a
        text-decoration: none
        color: inherit

        &:hover
            color: inherit

.site-title
    height: 56px
    line-height: 56px
    float: left
    padding-right: $spacing-unit / 4

    img
        height: 80%
        width: auto
        margin-right: $spacing-unit / 4

.site-nav
    float: right
    line-height: 56px
    .menu-icon
        display: none
    .page-link
        line-height: $base-line-height
        padding: 0 1em
        transition: .3s ease-in-out
    +media-greater($on-palm)
        .page-link
            &:hover, &:focus
                padding-top: 20px
                padding-bottom: 20px
                background-color: $grey-color-light
    +media-query($on-palm)
        position: absolute
        top: 9px
        right: $spacing-unit / 2
        border-radius: 5px
        text-align: right
        .menu-icon
            display: block
            float: right
            width: 36px
            height: 26px
            line-height: 0
            padding-top: 10px
            text-align: center
            > svg
                width: 18px
                height: 15px
                path
                    fill: $grey-color-dark
        .trigger
            clear: both
            display: none
            opacity: 0
            transition: opacity .5s ease-in-out
        &:hover .trigger
            display: block
            padding-top: 5px
            padding-bottom: 5px
            background-color: #fff
            opacity: 1
        .page-link
            display: block
            padding: 5px 10px
            &:not(:last-child)
                margin-right: 0
            margin-left: 20px




.page-content
    
    .wrapper
        background-color: $grey-color-dark
        color: $grey-color-light
        padding: $spacing-unit

        h1, h2, h3, h4, h5, h6
            color: $grey-color
            font-family: 'Eras Bold ITC', sans-serif

    +media-greater($content-width)

        &.first
            .wrapper
                border-radius: $spacing-unit / 4 $spacing-unit / 4 0 0
        &.last
            .wrapper
                border-radius: 0 0 $spacing-unit / 4 $spacing-unit / 4
        &.only
            .wrapper
                border-radius: $spacing-unit / 4
                margin-top: $spacing-unit / 2
                margin-bottom: $spacing-unit / 2


    .color-positive
        background-color: $grey-color-light
        color: $grey-color-dark
        padding: $spacing-unit / 2
        border-radius: $spacing-unit / 4




.section-hero
    text-align: center
    padding-top: $spacing-unit * 2

    .hero-img
        padding-top: $spacing-unit
        align-self: stretch
        overflow-y: hidden

        img
            margin-bottom: -50px

    +media-query($on-palm)

        .hero-img

            img
                max-width: 60%
                margin: auto

    .hero-heading

    .hero-title
        font-size: 1.2em

    .hero-aside
        background-color: $amarelo
        color: $grey-color-dark
        padding: $spacing-unit / 2
        border-radius: $spacing-unit / 4

        +media-query($on-palm)
            align-self: stretch

        .hero-title
            margin-top: 0



.section-empresa

    .empresa-aside





.site-footer
    padding-top: $spacing-unit
    padding-bottom: $spacing-unit

    ul
        margin: 0
        list-style: none

