$base-font-family: 'Acumin Pro', sans-serif;
$title-font-family: 'Acumin Pro', sans-serif;
$base-font-size: 1em;
$base-line-height: 1.5;
$base-font-weight: 500;
$small-font-size: 0.875em;

$brand-color: #033dff;
$white-color: #fff;
$black-color: #000;

$text-color: #212529;
$grey-color-dark: #343a40;
$grey-color: #6c757d;
$grey-color-light: #f8f9fa;

$on-palm: 600px;
$on-laptop: 992px;
$on-desktop: 1200px;
