
<div data-grid="space">
    <article class="post" data-cell="1of2">
        <header class="post-header">
            <h2 id="sobre-a-jcr-informtica">Sobre a JCR Informática</h2>
        </header>
        <p>Somos uma empresa de soluções em TI completa e apaixonada pela evolução tecnológica. Formamos uma equipe técnica selecionada e qualificada com muito cuidado e atenção, com o preparo para apresentar sempre as melhores soluções para cuidar da sua empresa.</p>
    </article>
    
    <article class="post" data-cell="1of2">
        <header class="post-header">
            <h2 id="servios">Serviços</h2>
        </header>
        <ul>
          <li>Servidores 2012 / 2008 / 2003;</li>
          <li>Active directory, Controle de Acessos;</li>
          <li>Servidores Firewall;</li>
          <li>Servidores de Backup;</li>
          <li>Manutenção em Computadores, Notebooks, Monitores, Impressoras;</li>
          <li>Manutenção em No-Breaks, Estabilizadores;</li>
          <li>Infra-Estrutura, Cabeamento, Wireless</li>
        </ul>
    </article>
</div>

<h2 id="produtos">Produtos</h2>
<p>Empresas, marcas, tecnologias, etc.</p>
