<div class="share-widget" data-grid="center row wrap">

	<div data-cell="shrink">
		{% include share/btn-facebook.html
			class    = 'share-btn btn-fb'
			position = include.position
		%}
	</div>

	<div data-cell="shrink">
		{% include share/btn-twitter.html
			class    = 'share-btn btn-tw'
			position = include.position
		%}
	</div>

	<div data-cell="shrink">
		{% include share/btn-linkedin.html
			class    = 'share-btn btn-li'
			position = include.position
		%}
	</div>

	<div data-cell="shrink">
		{% include share/btn-google-plus.html
			class    = 'share-btn btn-gp'
			position = include.position
		%}
	</div>

	<div data-cell="shrink">
		{% include share/btn-whatsapp.html
			class    = 'share-btn btn-wa'
			position = include.position
		%}
	</div>

</div>
