<div class="share__container horizontal">

		{% include share/btn-facebook.html
			class    = 'icon btn-fb'
			position = include.position
		%}

		{% include share/btn-twitter.html
			class    = 'icon btn-tw'
			position = include.position
		%}

		{% include share/btn-linkedin.html
			class    = 'icon btn-li'
			position = include.position
		%}

		{% include share/btn-google-plus.html
			class    = 'icon btn-gp'
			position = include.position
		%}

		{% include share/btn-whatsapp.html
			class    = 'icon btn-wa'
			position = include.position
		%}

</div>
